[submodule "mamba"]
	path = mamba
	url = https://github.com/state-spaces/mamba
[submodule "causal-conv1d"]
	path = causal-conv1d
	url = https://github.com/Dao-AILab/causal-conv1d
[submodule "research-contributions"]
	path = research-contributions
	url = https://github.com/Project-MONAI/research-contributions/
[submodule "SegMamba"]
	path = SegMamba
	url = https://github.com/ge-xing/SegMamba
